custom_components
deps
json
lib
python
tts
www

.*
*.db
*.db-journal
*.db_bak
*.conf
*.csr
*.crt
*.json
*.key
*.log
*.pem
*.pid
*.sqlite
*.xml
*.xsd

.HAVERSION
.uuid
entity_registry.yaml
gitupdate.sh
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
OZW_Log.txt
secrets.yaml
zwave_device_config.yaml

!/.gitignore
!/.travis.yml

/icloud/*
*.pickle
*.comget.html
*.compost.html
home-assistant.log.1
rtsp2webrtc_v5_amd64
home-assistant.log.fault
